#galogo { 
/* Dans cette methode inutile d'ajouter display: block un div est block par defaut mais vous le pouvez */ 
background : transparent url("../img/gamers_associate.png") no-repeat; 
height : 640px; 
width : 667px; 
margin : 0 auto; 
}

#imglogo { 
display: block; 
margin: 0 auto; 
height: 320px;
width: 334px;
}

#divhead {
display: block; 
margin: 0 auto;
height: 320px;
width: 334px;
}

#imgsa { 
  display: block; 
  margin: 0 auto;
  width: 96px;
  height: 96px;
}

.divsa {
  text-align: center;
  background-color: 555555;
  width: 480px;
}

#divabout {
  display: block;
  margin-top: 96px;
  text-align: center;
  height:100%;
}

a.about { 
    color: #ffffff ; 
}

a.contact { 
    margin-left: 42px;
    color: #ffffff ; 
}

.twitterfoot {
	width: 100%;
	text-align: center;
}

#divfoot {
    display: block; 
    text-align: center;
    /*height: 200px; */ /*288px */
}

#txtfoot {
    display: block; 
    text-align: center;
    top: 100%;
    position:relative;
}

#divback {
    background-color: #ffffff;
    margin: 0 auto;    
    height: 100%;
	width: 480px;
}

.visibleDiv, #topLeft, #topRight, #bottomLeft, #bottomRight
{
    position: relative;    
    border: solid 0px #000000;
    vertical-align: middle;
}

#topLeft
{
    top: 10px;
    left: 10px;
}

#topRight
{
    top: 10px;
    right: 10px;
}

#bottomLeft
{
    bottom: 10px;
    left: 10px;
}

#bottomRight
{
    bottom: 10px;
    right: 10px;
}

.centre {
margin: 1em 25%;
}
.gauche {
position: absolute;
top: 1em;
left: 1%;
width: 18%;
}
.droite {
position: absolute;
top: 1em;
right: 1%;
width: 18%;
}